
@mixin button ($diameter) {
	width: $diameter;
	height: $diameter;
	background-color: $color-accent;
	border-radius: 50%;
	border: none;
	outline: none;
	cursor: pointer;
	&::before,
	&::after {
		@include pseudoclass;
		background-color: $color-white;
		width: 4px;
		height: 50px;
		position: absolute;
		@include centre($axis: "both");
	}
	&::after {
		transform: translate(-50%, -50%) rotate(90deg);
	}
}

.noteButton {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 4px;
}
