@import '../theme';

.main-page {
  //TODO	display: none;
  text-align: center;
  color: $color-white;
  padding-top: 20vh;

  p {
    font-size: $f-size-base;
    margin-bottom: 25px;
  }
  h1 {
    font-weight: 300;
    margin-top: 25px;
    font-size: $f-size-header;
    color: $color-white;
  }
  .start-btn {
    @include button (70px);
    margin-top: 40px;
    position: relative;
  }
}
